body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.downloadBtn {
  background-color: lightblue;
  color: black;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  min-height: 30px;
  min-width: 120px;
  margin-bottom: 3vh;
  cursor: pointer;

  &:hover,
  &:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 3px rgb(120, 187, 246);
  }
}
