.footer {
  background-color: lightslategray;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.githubBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: Black;
  font-size: 17px;
}
